// Colors
$gray-900: #121212;
$gray-800: #151B1F;
$gray-700-08: rgba(21, 27, 31, 0.81);
$gray-600: #999999;
$gray-200: #EEEEEE;
$green: #0EC261;
$green-02: rgba(14, 194, 97, .2);

// @function color($color, $val) {
//     @return $color * $val;
// }

$text-dark: $gray-600;

// Font
$base-font-family: 'Roboto', Arial, sans-serif;
$base-font-size: 18px;