// Colors
$gray-900: #121212;
$gray-800: #151B1F;
$gray-700-08: rgba(21, 27, 31, 0.81);
$gray-600: #999999;
$gray-200: #EEEEEE;
$green: #0EC261;

$text-dark: $gray-600;
// $texd-light: $gray-200;

// :root {
//   background: red;
// }

// Font
$base-font-family: 'Roboto', Arial, sans-serif;
$base-font-size: 18px;