// Colors
$gray-900: #121212;
$gray-600: #999999;
$gray-200: #EEEEEE;
$green: #0EC261;

// $text-dark: $gray-900;
// $texd-light: $gray-200;

// :root {
//   background: red;
// }

// Font
$base-font-family: 'Roboto', Arial, sans-serif;
$base-font-size: 18px;

// Breakpoints
$breakpoints: (
  "phone"       : 320px,
  "tablet"      : 768px,
  "desktop-min" : 1024px,
  "desktop"     : 1440px
);