.description {
    padding-bottom: 15px;

    .main-page & {
        padding-bottom: 24px;
    }

    @media (min-width:$tablet) {
        .main-page & {
            padding-bottom: 46px;
        }
    }
}