.header {
    @include flex(0, 0, auto);
    padding: 14px 0;

    &__inner {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__main {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    @media (min-width:$tablet) {
        padding: 32px 0;

        &__left {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 86px;
            height: 100%;
            padding: 28px 10px;
            background: $gray-800;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 110;
        }

        &__main {
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }
    }

    @media (min-width:$desktop-min) {
        &__left {
            width: 65px;
            padding-bottom: 23px;
        }
    }

    @media (min-width:$desktop) {
        &__left {
            padding-top: 32px;
        }
    }
}