header.header
    .container
        .header__inner
            .header__left
                include ../../components/burger/burger
                +burger()
                include ../../components/lang-selector/lang-selector
                +lang-selector('Eng').lang-selector--header
            .header__main
                include ../../components/logo/logo
                +logo()
                include ../../components/location/location
                +location('Ульяновск')