.icon {
    @include size(21px);
    stroke: currentColor;

    & path,
    & line,
    & circle {
        stroke: currentColor;
    }

    &-mark {
        margin-right: 7px;
    }

    &--social {
        @include size(32px);

        fill: currentColor;
    }
}