//- Слайдер

mixin slider(data)
    include ../title/title
    include ../button/button
    .slider.js-slider
        each item, index in data.items
            .slider__item
                .slider__image
                    img(src="./img/slider/" + index + ".jpg", alt)
                .slider__content
                    +title('h2', item.title)
                    p.slider__text !{item.text}
                    +button('Подробнее', 'javascript:void(0)')(class!="button--" + item.buttonModifier)