.slider {
    position: relative;

    &__list {
        margin: 0;
    }

    &__item {
        list-style: none;
        padding: 0;
    }

    &__image {
        width: 100%;
        height: 100px;
        margin-bottom: 13px;

        & img {
            width: 100%;
            height: 100%;
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
            object-position: center;
            overflow: hidden;
        }
    }

    & .slick-list {
        width: auto;
        padding: 0;
        overflow: hidden;
    }

    & .slick-track {
        display: flex;
    }

    .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;

        li {
            list-style-type: none;
            display: inline-block;
            padding: 11px 5px;
            line-height: 0;
            font-size: 0;
        }

        button {
            width: 4px;
            height: 4px;
            background: #ffffff;
            border-radius: 50%;
            border: none;
            padding: 0;
            line-height: 0;
            font-size: 0;
        }
    }
}