//- Кнопка

mixin button(content, link)
    if link
        a.button( href=link, title )&attributes( attributes ) #{content}
            block
    else
        button.button&attributes( attributes ) #{content}
            block