.button {
    display: inline-block;
    width: 100vw;
    padding: 15px 20px 17px;
    margin: 0 -13px;
    border: none;
    outline: none;
    background: linear-gradient(90deg, #0EC261 2.61%, #039F67 112.6%);
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    transition: background .3s ease-in-out;

    &:hover,
    &:visited:hover {
        background: linear-gradient(90deg, #0B934A 2.61%, #026E47 112.6%)!important;
    }

    &:active,
    &:visited:active {
        background: linear-gradient(90deg, #076432 2.61%, #013C27 112.6%)!important;
    }

    &:disabled,
    &.disabled {
        color: $gray-200;
    }

    .slider__item {
        border-radius: 4px;
    }

    .slider__item--0 & {
        background: linear-gradient(90deg, #13493F 0%, #0C7B1B 100%);
    }

    .slider__item--1 & {
        background: linear-gradient(90deg, #132949 0%, #0C7B67 100%);
    }

    .slider__item--2 & {
        background: linear-gradient(90deg, #493013 0%, #7B0C3B 100%);
    }

    .slider__item--3 & {
        background: linear-gradient(90deg, #281349 0%, #720C7B 100%);
    }

    @media (min-width:768px) {
        width: auto;
        padding: 15px 36px;
        margin: 0;
        border-radius: 8px;

        .main-page & {
            padding: 15px 59px;
        }
    }
}