.button {
    display: inline-block;
    width: 100vw;
    padding: 15px 20px 17px;
    margin: 0 -13px;
    border: none;
    outline: none;
    background-image: linear-gradient(90deg, hsl(147.67, 86.54, 40.78) 2.61%, hsl(158.46, 96.3%, 31.76%) 112.6%); //#0EC261 #039F67
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    transition: background-image .15s linear;


    &:hover {
        background-image: linear-gradient(90deg, hsl(147.67, 86.54, 31) 2.61%, hsl(158.46, 96.3%, 22%) 112.6%); //#0B934A #026E47
    }

    &:active {
        background-image: linear-gradient(90deg, hsl(147.67, 86.54, 21) 2.61%, hsl(158.46, 96.3%, 12%) 112.6%); //#076432 //#013C27
    }

    &:disabled,
    &.disabled {
        color: $gray-200;
    }

    &--dark-green {
        background-image: linear-gradient(90deg, hsl(168.89, 58.7%, 18.04%) 0%, hsl(128.11, 82.22%, 26.47%) 100%);

        &:hover {
            background-image: linear-gradient(90deg, hsl(168.89, 58.7%, 8.04%) 0%, hsl(128.11, 82.22%, 16.47%) 100%);
        }

        &:active {
            background-image: linear-gradient(90deg, hsl(168.89, 58.7%, 0%) 0%, hsl(128.11, 82.22%, 6.47%) 100%);
        }
    }

    &--blue {
        background-image: linear-gradient(90deg, hsl(215.56, 58.7%, 18.04%) 0%, hsl(169.19, 82.22%, 26.47%) 100%);

        &:hover {
            background-image: linear-gradient(90deg, hsl(215.56, 58.7%, 8.04%) 0%, hsl(169.19, 82.22%, 16.47%) 100%);
        }

        &:active {
            background-image: linear-gradient(90deg, hsl(215.56, 58.7%, 0%) 0%, hsl(169.19, 82.22%, 6.47%) 100%);
        }
    }

    &--red {
        background-image: linear-gradient(90deg, hsl(32.22, 58.7%, 18.04%) 0%, hsl(334.59, 82.22%, 26.47%) 100%);

        &:hover {
            background-image: linear-gradient(90deg, hsl(32.22, 58.7%, 8.04%) 0%, hsl(334.59, 82.22%, 16.47%) 100%);
        }

        &:active {
            background-image: linear-gradient(90deg, hsl(32.22, 58.7%, 0%) 0%, hsl(334.59, 82.22%, 6.47%) 100%);
        }
    }

    &--purple {
        background-image: linear-gradient(90deg, hsl(263.33, 58.7%, 18.04%) 0%, hsl(295.14, 82.22%, 26.47%) 100%);

        &:hover {
            background-image: linear-gradient(90deg, hsl(263.33, 58.7%, 8.04%) 0%, hsl(295.14, 82.22%, 16.47%) 100%);
        }

        &:active {
            background-image: linear-gradient(90deg, hsl(263.33, 58.7%, 0%) 0%, hsl(295.14, 82.22%, 6.47%) 100%);
        }
    }

    .slider__item {
        border-radius: 4px;
    }

    @media (min-width:768px) {
        width: auto;
        padding: 15px 36px;
        margin: 0;
        border-radius: 8px;

        .main-page & {
            padding: 15px 59px;
        }
    }
}