//- Логотип

mixin burger()
	button.burger.js-open-menu(type="button")
		span.burger__wrapper
			i.burger__line.burger__line--first
			i.burger__line.burger__line--second
			i.burger__line.burger__line--second-for-cross
			i.burger__line.burger__line--third