.location {
    display: flex;
    align-items: center;
    padding: 7px 0;
    border: none;
    background: transparent;
    text-decoration: none;
    color: $gray-600;

    &:hover,
    &:visited:hover,
    &:active,
    &:visited:active {
        color: $green;
    }

    &__city {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }
}