.link {
    display: inline-block;
    padding: 4px 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 1;
    text-decoration: none;
    color: $gray-900;
    cursor: pointer;
    transition: color .15s linear;

    &:hover,
    &:visited:hover,
    &:active,
    &:visited:active {
        color: $green;
    }

    &:disabled,
    &.disabled {
        color: $gray-200;
    }

    &--light {
        color: #ffffff;
    }

    &--footer {
        color: $green;

        &:hover,
        &:visited:hover,
        &:active,
        &:visited:active {
            color: $gray-200;
        }

        @media (min-width:$tablet) {
            color: $gray-900;

            &:hover,
            &:visited:hover,
            &:active,
            &:visited:active {
                color: $green;
            }
        }
    }
}