extends layouts/default
include helpers/mixins

block variables
	- const pageTitle = "Need for drive"

block content
	.main-page
		.container
			include ../blocks/components/title/title
			+title('h1', 'Каршеринг')
			+title('h2', 'Need for drive').title--green
			include ../blocks/components/description/description
			+description()
				p  Поминутная аренда авто твоего города
			include ../blocks/components/button/button
			+button('Забронировать')

block scripts
	script(src="../js/vendor.js")
	script(src="../js/main.js")