//- Футер

footer.footer
    .container
        .footer__inner
            include ../../components/link/link
            +link('tel:+74952342244', '', '8 (495) 234-22-44').link--footer
            span.footer__copyright &copy; 2016-2019 «Need for drive»