*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 18px;
    height: 100%;
}

body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    font-family: $base-font-family;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-overflow-scrolling: touch;
    min-width: 320px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.main {
    flex: 1 0 auto;
}

.container {
    margin: 0 auto;
    padding: 0 13px;
    width: 100%;
}