html {
    height: 100%;
    font-size: 18px;
}
  
body { 
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    font-family: $base-font-family;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
  
.main { 
    flex: 1 0 auto;
}

.container {
    margin: 0 auto;
    padding: 0 12px;
    width: 100%;
}